In [2]:
import numpy as np
from datascience import *
import pandas as pd
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
from sklearn import *
from sklearn.model_selection import train_test_split
from datetime import datetime, timezone
import missingno as msno
import seaborn as sns
import math

C:\Users\Viraj\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3369: DtypeWarning: Columns (33,60,61) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,1,2,3,4,5,6,7,8,9,10,...,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61
0,0,136.770523,61.213627,197.984146,75.556900,124.152428,63.146126,187.298447,61.006313,148.139404,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,136.770523,61.213627,197.984146,75.556900,124.152428,63.146126,187.298447,61.006313,148.139404,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,136.770523,61.213627,197.984146,75.556900,124.152428,63.146126,187.298447,61.006313,148.139404,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,136.770523,61.213627,197.984146,75.556900,124.152428,63.146126,187.298447,61.006313,148.139404,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,136.770523,61.213627,197.984146,75.556900,124.152428,63.146126,187.298447,61.006313,148.139404,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109445,109445,31.240822,11.728950,42.969772,19.511871,8.391468,1.453402,9.844770,6.938075,36.472679,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109446,109446,31.196617,11.730339,42.926956,19.466278,8.353993,1.445299,9.799192,6.908705,36.450577,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109447,109447,31.167786,11.740526,42.908310,19.427259,8.324205,1.441594,9.765699,6.882621,36.421742,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109448,109448,31.138952,11.750713,42.889668,19.388239,8.286732,1.433490,9.720122,6.853251,36.413101,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109449,109449,31.109165,11.747008,42.856175,19.362156,8.250213,1.439278,9.689391,6.810945,36.375626,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
gngLog = pd.read_csv("984_gonogo.csv")
gngLog

,pseudo,imagefile,condition,corAns,choblock,tex,prac_pseudo.thisRepN,prac_pseudo.thisTrialN,prac_pseudo.thisN,prac_pseudo.thisIndex,...,prac_key.rt,key_exp.keys,key_exp.corr,key_exp.rt,participant,date,expName,psychopyVersion,frameRate,Unnamed: 41
0,conditions\practice2.xlsx,prac\plant10.jpg,go,space,NaN,NaN,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,984,2020_Feb_26_1123,gonogo,3.2.4,59.868988,NaN
1,conditions\practice2.xlsx,prac\clover.jpg,go,space,NaN,NaN,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,984,2020_Feb_26_1123,gonogo,3.2.4,59.868988,NaN
2,conditions\practice2.xlsx,prac\thumbtack02b.jpg,nogo,none,NaN,NaN,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,984,2020_Feb_26_1123,gonogo,3.2.4,59.868988,NaN
3,conditions\practice2.xlsx,prac\lily.jpg,go,space,NaN,NaN,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,984,2020_Feb_26_1123,gonogo,3.2.4,59.868988,NaN
4,conditions\practice2.xlsx,prac\tulip02.jpg,go,space,NaN,NaN,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,984,2020_Feb_26_1123,gonogo,3.2.4,59.868988,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327,conditions\food_ld9.xlsx,household1\1086.jpg,go,space,conditions\food_ld.xlsx,inst\ins_food3.png,NaN,NaN,NaN,NaN,...,NaN,space,1.0,0.299193,984,2020_Feb_26_1123,gonogo,3.2.4,59.868988,NaN
328,conditions\food_ld9.xlsx,household1\1013.jpg,go,space,conditions\food_ld.xlsx,inst\ins_food3.png,NaN,NaN,NaN,NaN,...,NaN,space,1.0,0.313865,984,2020_Feb_26_1123,gonogo,3.2.4,59.868988,NaN
329,conditions\food_ld9.xlsx,household1\1218.jpg,go,space,conditions\food_ld.xlsx,inst\ins_food3.png,NaN,NaN,NaN,NaN,...,NaN,space,1.0,0.342217,984,2020_Feb_26_1123,gonogo,3.2.4,59.868988,NaN
330,conditions\food_ld9.xlsx,NaN,NaN,NaN,conditions\food_ld.xlsx,inst\ins_food3.png,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,984,2020_Feb_26_1123,gonogo,3.2.4,59.868988,NaN
331,NaN,NaN,NaN,NaN,conditions\food_ld.xlsx,inst\ins_food3.png,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,984,2020_Feb_26_1123,gonogo,3.2.4,59.868988,NaN

In [30]:
# df.loc[df['B'] == 3, 'A']

# gngLog.iloc[3]

def refineLog():
    result = gngLog.copy()
    changes = False
    for i in range(len(result)):
        if(i<len(result)):
            if(result['corAns'].iloc[i] == "space" and result['corAns'].iloc[i+1] == "space"):
                result.at[i, 'unixend'] = result['unixend'].iloc[i+1]
                result.drop(index=i+1, inplace=True)
#     result.drop(result[result['corAns'].isna()].index, inplace=True)
    result = result[result['corAns'] != 'none']
    result = result.dropna(subset=['corAns'])
    result = result.reset_index(drop=True)


    return result

def getComissionError():
    num_correct = gngLog['key_exp.corr'].sum()
    num_total = len(gngLog)
    percent_correct = (num_correct / num_total) * 100

    print(f"Percentage of correct responses: {percent_correct:.2f}%")
    
def metrics():
    
    totalTrials = gngLog['corAns'].count()
    n_correct = sum(gngLog['key_exp.corr'] == 1)
    commission = sum(gngLog['key_exp.corr'] == 0)
    ommission = sum((gngLog['key_exp.corr'] == 0) & (gngLog['condition'] == 'nogo'))

    omission_errors = ommission/totalTrials
    commission_errors = commission/totalTrials
    accuracy = n_correct
    avg_response_time = avg_rt = gngLog['key_exp.rt'].mean()
    
    metricsBundle = [totalTrials, accuracy, avg_response_time, omission_errors, commission_errors]
    
    return metricsBundle

In [31]:
# Process:
z = metrics()
z

[325, 271, 0.3734197756072189, 0.027692307692307693, 0.089230769230769225]